<h2>スレッド一覧
<span class="updated">Last Updated:<%= last_updated %></span>
</h2>
<% if production? %><div><%= parts :ad %></div><% end %>
<% for b in @boards %>
<a href="/thread/<%= b[:id] %>/<%=u b[:title] %>"><%= title(b) %></a>
<span class="created"><%= b[:created_at].strftime('%y/%m/%d') %></span>
<% unless b[:star].zero? %><span class="star"><%= b[:star] %></span><% end %>
<br />
<% end %>
<%= @paginate %>
