<h2>スレッド一覧
<span class="updated">
Last Updated:<%= local_time(@boards.first[:updated_at]).strftime('%Y/%m/%d %H:%M:%S') %>
</span>
</h2>
<% if production? %><div><%= parts :ad %></div><% end %>
<% for b in @boards %>
<a href="/thread/<%= b[:id] %>"><%= b[:title].strip %></a>
<span class="created"><%= local_time(b[:created_at]).strftime('%y/%m/%d') %></span>
<% unless b[:star].zero? %><span id="star"><img src="<%= static('/images/star.gif') %>" /><%= b[:star] %></span><% end %>
<br />
<% end %>
<%= @paginate %>
