<% content_for :keywords, @board[:title].strip %>
<% content_for :description, @board[:title].strip %>
<% content_for :title, @board[:title].strip %>
<h2><%= @board[:title] %>(<%= @count %>)<span id="star"><img id="add" src="/images/add.gif" /></span></h2>
<% if production? %>
<div class="ads_container">
<div class="adb">
<a href="http://track.bannerbridge.net/click.php?APID=30615&affID=49172&siteID=98547" target="_blank"><img src="http://track.bannerbridge.net/adgserv.php?APID=30615&affID=49172&siteID=98547" width="125" height="125" border="0" alt="" title=""></a>
</div>
</div>
<% end %>
<div id="container"></div>
<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="/pic2ch-min.js"></script>
<script type="text/javascript">
window.onload=function(){pic2ch.slideshow.init({id:'<%= @board[:thread_id] %>',urls:'<%= @urls %>'.split(':'),path:'<%= Sinatra::Application.options.picurl %>',container:'container'});
pic2ch.addStar('add', 'star', '<%= @board[:id] %>', <%= @board[:star] %>);
};
</script>
<% if production? %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
try { var pageTracker = _gat._getTracker("UA-6512399-3"); pageTracker._trackPageview(); } catch(err) {}
</script>
<% end %>
